<h1>タスクの詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path,class:'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>ID</th>
      <th><%= @task.id %></th>
    </tr>
    <tr>
      <th>名称</th>
      <th><%= @task.name %></th>
    </tr>
    <tr>
      <th>詳しい説明</th>
      <th><%= auto_link(simple_format(h(@task.description),{},sanitize:false,wrapper_tag:"div")) %></th>
    </tr>
    <tr>
      <th>登録日時</th>
      <th><%= @task.created_at %></th>
    </tr>
    <tr>
      <th>更新日時</th>
      <th><%= @task.updated_at %></th>
    </tr>
  </tbody>
</table>
<%= link_to '編集',edit_task_path(@task),class:'btn btn-primary mr-2' %>
<%= link_to '削除',task_path(@task),method: :delete,data:{ confirm:"タスク「#{@task.name}」を削除します。よろしいですか？" },class:'btn btn-danger'%>
